version: 2.1

orbs:
  stack-build: pbrisbin/stack-build@3.0.1

defaults: &defaults
  before-dependencies:
    - run: |
        sudo apt-get update -y
        sudo apt-get install -y libpcre3-dev
  hlint-yaml-url:
    https://raw.githubusercontent.com/pbrisbin/dotfiles/master/hlint.yaml

workflows:
  commit:
    jobs:
      - stack-build/build-test-lint:
          <<: *defaults
          name: "default"
          stack-arguments: --coverage --flag bugsnag-haskell:examples
          after-dependencies:
            - run: make coverage.setup
          after-test:
            - run: make coverage.upload
      - stack-build/build-test-lint:
          <<: *defaults
          name: "ghc-8.8.2 / lts-15.1"
          stack-yaml: stack-lts-15.1.yaml
          stack-arguments: --flag bugsnag-haskell:examples
      - stack-build/build-test-lint:
          <<: *defaults
          name: "ghc-8.6.5 / lts-14.16"
          stack-yaml: stack-lts-14.16.yaml
          stack-arguments: --flag bugsnag-haskell:examples
      - stack-build/build-test-nightly:
          name: "nightly"
          stack-arguments: --flag bugsnag-haskell:examples
          before-dependencies:
            - run: |
                sudo apt-get update -y
                sudo apt-get install -y libpcre3-dev

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - stack-build/build-test-nightly:
          name: "nightly"
          stack-arguments: --flag bugsnag-haskell:examples
          before-dependencies:
            - run: |
                sudo apt-get update -y
                sudo apt-get install -y libpcre3-dev
