---
version: 2.0

references:
  stack_build: &stack_build
    docker:
      - image: fpco/stack-build:lts
    steps:
      - run:
          name: Upgrade stack
          command: stack upgrade

      - checkout
      - run:
          name: Digest
          command: |
            echo stack --version > rdigest
            echo -- "${STACK_YAML}/${STACK_ARGUMENTS}" >> rdigest
            git ls-files | xargs md5sum > sdigest
      - restore_cache:
          keys:
            - 3-{{ .Branch }}-{{ checksum "rdigest" }}-{{ checksum "sdigest" }}
            - 3-{{ .Branch }}-{{ checksum "rdigest" }}-
            - 3-{{ .Branch }}-
            - 3-master-
      - run:
          name: Dependencies
          command: |
            make setup setup.lint

            if [ "${COVERAGE:-1}" = 1 ]; then
              make setup.coverage
            fi
          no_output_timeout: 120m
      - run:
          name: Build
          command: make build
      - save_cache:
          key: 3-{{ .Branch }}-{{ checksum "rdigest" }}-{{ checksum "sdigest" }}
          paths:
            - ~/.stack
            - ./.stack-work
      - run:
          name: Test
          command: |
            make test

            if [ "${COVERAGE:-1}" = 1 ]; then
              make coverage.upload
            fi
      - run:
          name: Lint
          command: make lint

jobs:
  build_8.6.5:
    <<: *stack_build
    environment:
      COVERAGE: 0
      STACK_ARGUMENTS: --no-terminal
      STACK_YAML: stack-lts-14.16.yaml
  build_8.8.2:
    <<: *stack_build
    environment:
      COVERAGE: 0
      STACK_ARGUMENTS: --no-terminal
      STACK_YAML: stack-lts-15.1.yaml
  build:
    <<: *stack_build
    environment:
      STACK_ARGUMENTS: --no-terminal
  build_nightly:
    <<: *stack_build
    environment:
      COVERAGE: 0
      STACK_ARGUMENTS: --no-terminal --resolver nightly
      STACK_YAML: stack-nightly.yaml

workflows:
  version: 2
  commit:
    jobs:
      - build_8.6.5
      - build_8.8.2
      - build
      - build_nightly
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_nightly
