name: CI

on:
  pull_request:
  push:
    branches: main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        stack-yaml:
          - stack.yaml
          - stack-lts-15.1.yaml
          - stack-lts-14.16.yaml
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - uses: freckle/stack-cache-action@v1
        with:
          stack-yaml: ${{ matrix.stack-yaml }}

      - id: stack
        uses: freckle/stack-action@v3
        with:
          stack-yaml: ${{ matrix.stack-yaml }}
          stack-arguments: --flag bugsnag-haskell:examples --coverage

      - if: ${{ matrix.stack-yaml == 'stack.yaml' }}
        uses: freckle/weeder-action@v1
        with:
          weeder-version: 2.2.0

      - if: ${{ matrix.stack-yaml == 'stack.yaml' }}
        name: Reformat coverage
        run: |
          find '${{ steps.stack.outputs.local-hpc-root }}' -name '*.tix'
          # tix='${{ steps.stack.outputs.local-hpc-root }}/bugsnag-haskell/spec/spec.tix'
          # stack --no-terminal install --copy-compiler-tool hpc-lcov
          # stack --no-terminal exec -- hpc-lcov --file "$tix"

      # - if: ${{ matrix.stack-yaml == 'stack.yaml' }}
      #   name: Upload coverage
      #   uses: codecov/codecov-action@v2
      #   with:
      #     files: ./lcov.info

  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: rwe/actions-hlint-setup@v1
      - run: |
          curl -o .hlint.yaml https://raw.githubusercontent.com/pbrisbin/dotfiles/master/hlint.yaml
      - uses: rwe/actions-hlint-run@v2
        with:
          fail-on: warning
